* {background-color: aqua;
}

:root {
    --darkBlue: #264d73;
}

body {
    margin: 0;
    padding: 0;
    color: var(--darkBlue);
}

.container {
    padding: 40px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* tile styling */

#gameboard {
    width: 456px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.box {
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--darkBlue);
    font-size: 56px;
    border: 4px solid var(--darkBlue); 
    box-sizing: border-box; 
}
/*end of tile styling*/

/* restart button */
button {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: var(--darkBlue);
    color: whitesmoke;
    border-color:var(--darkBlue);
    font-size: small;
}

#winnerMessage {
    margin-top: 20px; 
    text-align: center; 
    font-size: 35px;  
}